@model IEnumerable<Shopping.Models.Product>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;

@{

}
<h1>Categories</h1>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#dropdown').change(function () {
            var selectedItemId = $(this).val();
            $.ajax({
                url: '/Home/GetItemCategoryList',
                method: 'POST',
                data: { selectedItemId: selectedItemId },
                success: function (response) {
                    $('#resultContainer').html(response);
                }
            });
        });
        $('#searchForm').submit(function (e) {
            e.preventDefault();
            var searchTerm = $('#searchTerm').val();
            $.ajax({
                url: '/Home/Search',
                method: 'POST',
                data: { searchTerm: searchTerm },
                success: function (response) {
                    $('#resultContainer').html(response);
                },
            });
        });
    });
</script>

<body>
    `

    <div class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <select id="dropdown" class="form-control">
            <option value="">Select an item...</option>
            @foreach (var item in ViewBag.ItemsForDropdown)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        <form class="d-flex" id="searchForm">
            <input class="form-control me-sm-2" type="text" id="searchTerm" name="searchTerm">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>

    <div id="resultContainer">

        <div class="w-100 mt-4 d-flex flex-wrap ">
            @foreach (var item in Model)
            {
                <div class="card mx-3 mb-4" style="width: 11rem;">
                    <img style="width:100%;height:180px" src="@item.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            @item.Description <br />
                            <b>Price: </b>@item.Price <br />
                        </p>
                        <button type="button" onclick="add(@item.ProductId)" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
@section Scripts{
    <script>
        async function add(productId) {
            try {
                var isUserSignedIn = @(signInManager.IsSignedIn(User) ? "true" : "false");
                if (isUserSignedIn) {
                    var response = await fetch(`/Product/AddDataToOrderDetail?productId=${productId}`, {
                        method: 'POST'
                    });

                    if (response.status == 200) {
                        console.log("###################################");
                        var result = await response.json();
                        var cartCountEl = document.getElementById("cartCountBadge");
                        cartCountEl.innerHTML = result;
                        window.location.href = "#cartCountBadge";
                    }
                }
                else{
                    window.location.href = "Account/login";
                }
            } catch (err) {
                console.log(err);
            }
        }
    </script>
}